In [406]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

# Подзадача 1
Загрузите датасет и ознакомьтесь с количеством пропущенных значений.

In [407]:
df = pd.read_csv('vehicles_dataset.csv')
df

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,price_category
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,good,NaN,...,pickup,silver,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,NaN,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,6 cylinders,...,SUV,black,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,NaN,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,good,NaN,...,sedan,NaN,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,NaN,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,NaN,NaN,...,wagon,white,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,NaN,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,new,4 cylinders,...,NaN,NaN,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,NaN,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10045,7304876387,https://chautauqua.craigslist.org/ctd/d/falcon...,chautauqua,https://chautauqua.craigslist.org,4495,2002.0,toyota,rav4,good,4 cylinders,...,SUV,white,https://images.craigslist.org/00n0n_aaEBqmzz5Z...,Transmission:Automatic Exterior Color:WHITE In...,NaN,ny,42.123900,-79.189500,2021-04-10T16:33:57-0400,low
10046,7316152972,https://binghamton.craigslist.org/ctd/d/roches...,binghamton,https://binghamton.craigslist.org,14495,2008.0,jeep,wrangler,good,6 cylinders,...,SUV,grey,https://images.craigslist.org/00000_9ZNVdXaiei...,2008 Jeep Wrangler X Offered by: R&L Auto -- ...,NaN,ny,43.216990,-77.755610,2021-05-03T09:36:30-0400,medium
10047,7310993818,https://salem.craigslist.org/ctd/d/salem-2011-...,salem,https://salem.craigslist.org,8995,2011.0,audi,a3 2.0t premium plus pzev,NaN,4 cylinders,...,wagon,black,https://images.craigslist.org/00X0X_k5JiZDDyqM...,2011 Audi A3 2.0T Premium Plus PZEV Wagon2011 ...,NaN,or,44.925908,-122.982753,2021-04-22T12:14:01-0700,low
10048,7306637427,https://madison.craigslist.org/ctd/d/madison-2...,madison,https://madison.craigslist.org,31900,2015.0,porsche,cayenne,good,6 cylinders,...,wagon,brown,https://images.craigslist.org/00O0O_gBihGEQxYT...,"2015 Porsche Cayenne AWD 4dr S E-Hybrid - $31,...",NaN,wi,43.029559,-89.397796,2021-04-14T09:14:42-0500,high
10049,7311960763,https://norfolk.craigslist.org/ctd/d/chesapeak...,norfolk / hampton roads,https://norfolk.craigslist.org,31990,2017.0,ram,1500 crew cab big horn,good,8 cylinders,...,pickup,white,https://images.craigslist.org/00c0c_4rTlvLXy36...,Carvana is the safer way to buy a car During t...,NaN,va,36.670000,-76.300000,2021-04-24T13:50:49-0400,high

In [408]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10050 entries, 0 to 10049
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10050 non-null  int64
 1   url             10050 non-null  object
 2   region          10050 non-null  object
 3   region_url      10050 non-null  object
 4   price           10050 non-null  int64
 5   year            10014 non-null  float64
 6   manufacturer    9665 non-null   object
 7   model           9921 non-null   object
 8   condition       6268 non-null   object
 9   cylinders       5953 non-null   object
 10  fuel            9987 non-null   object
 11  odometer        10007 non-null  float64
 12  title_status    9884 non-null   object
 13  transmission    10005 non-null  object
 14  VIN             6086 non-null   object
 15  drive           7026 non-null   object
 16  size            2825 non-null   object
 17  type            7845 non-null   object
 18  paint_color     7087 non-null   object
 19  image_url       10048 non-null  object
 20  description     10048 non-null  object
 21  county          0 non-null      float64
 22  state           10050 non-null  object
 23  lat             9951 non-null   float64
 24  long            9951 non-null   float64
 25  posting_date    10048 non-null  object
 26  price_category  10050 non-null  object
dtypes: float64(5), int64(2), object(20)
memory usage: 2.1+ MB

In [409]:
for column in df.columns:
    print(f"{column:<10}", df[column].isna().sum(), sep='\t')

id        	0
url       	0
region    	0
region_url	0
price     	0
year      	36
manufacturer	385
model     	129
condition 	3782
cylinders 	4097
fuel      	63
odometer  	43
title_status	166
transmission	45
VIN       	3964
drive     	3024
size      	7225
type      	2205
paint_color	2963
image_url 	2
description	2
county    	10050
state     	0
lat       	99
long      	99
posting_date	2
price_category	0

In [410]:
df.isna().sum() # Можно сделать двумя способами

id                    0
url                   0
region                0
region_url            0
price                 0
year                 36
manufacturer        385
model               129
condition          3782
cylinders          4097
fuel                 63
odometer             43
title_status        166
transmission         45
VIN                3964
drive              3024
size               7225
type               2205
paint_color        2963
image_url             2
description           2
county            10050
state                 0
lat                  99
long                 99
posting_date          2
price_category        0
dtype: int64

# Подзадача 2
Обработайте пропуски в годе выпуска автомобиля

In [411]:
df['year']

0        2020.0
1        2016.0
2        2017.0
3        2013.0
4        2021.0
          ...
10045    2002.0
10046    2008.0
10047    2011.0
10048    2015.0
10049    2017.0
Name: year, Length: 10050, dtype: float64

In [412]:
df['year'].isna().sum()

np.int64(36)

In [413]:
def extract_year(description: str) -> int | None:
    """Получение года выпуска машины из описания

    Args:
        description (str): Описание автомобиля

    Returns:
        int | None: Год выпуска, если удалось найти, или None
    """
    if not isinstance(description, str):
        return None
    match = re.search(r"\b\d{4}\b", description)
    return int(match.group()) if match else None

In [414]:
pdf = df['description'].apply(extract_year)
pdf

0        4304.0
1        1400.0
2        4304.0
3        2013.0
4        2021.0
          ...
10045    2000.0
10046    2008.0
10047    2011.0
10048    2015.0
10049    4304.0
Name: description, Length: 10050, dtype: float64

In [415]:
df['year'] = np.where(df['year'].isna(), pdf, df['year'])
df['year'].fillna(df['year'].median(), inplace=True) # После вставки правильного года, медиана могла поменяться. Поэтому разбивка на 2 строки

In [416]:
df['year']

0        2020.0
1        2016.0
2        2017.0
3        2013.0
4        2021.0
          ...
10045    2002.0
10046    2008.0
10047    2011.0
10048    2015.0
10049    2017.0
Name: year, Length: 10050, dtype: float64

In [417]:
df['year'].isna().sum()

np.int64(0)

# Подзадача 3
Обработайте пропуски в типе топлива.

In [418]:
df['fuel']

0        diesel
1           NaN
2           gas
3           gas
4           gas
          ...
10045       gas
10046       gas
10047       gas
10048    hybrid
10049       gas
Name: fuel, Length: 10050, dtype: object

In [419]:
df['fuel'].value_counts(dropna=False)

fuel
gas         8447
other        733
diesel       655
hybrid       108
NaN           63
electric      44
Name: count, dtype: int64

In [420]:
df['fuel'].fillna(df['fuel'].value_counts().index[0], inplace=True)
df['fuel']

0        diesel
1           gas
2           gas
3           gas
4           gas
          ...
10045       gas
10046       gas
10047       gas
10048    hybrid
10049       gas
Name: fuel, Length: 10050, dtype: object

In [421]:
df['fuel'].value_counts(dropna=False)

fuel
gas         8510
other        733
diesel       655
hybrid       108
electric      44
Name: count, dtype: int64

# Подзадача 4
Обработайте пропуски в модели автомобиля.

In [422]:
df['model']

0           2500 crew cab big horn
1             explorer 4wd 4dr xlt
2                 golf r hatchback
3                             rav4
4                           altima
                   ...
10045                         rav4
10046                     wrangler
10047    a3 2.0t premium plus pzev
10048                      cayenne
10049       1500 crew cab big horn
Name: model, Length: 10050, dtype: object

In [423]:
df['model'].value_counts(dropna=False)

model
f-150                     151
NaN                       129
silverado 1500            110
1500                      101
camry                      77
                         ...
dakota club cab             1
jetta 1.4t se               1
1500 laramie                1
rdx sh-awd advance pkg      1
excursion 2005              1
Name: count, Length: 3467, dtype: int64

In [424]:
df['model'].fillna('other', inplace=True) # В описании нет информации про модель + нет чёткого критерия. Необходимо ручное заполнение.

In [425]:
df['model'].value_counts(dropna=False), '',df['model'].isna().sum()

(model
 f-150                     151
 other                     129
 silverado 1500            110
 1500                      101
 camry                      77
                          ...
 dakota club cab             1
 jetta 1.4t se               1
 1500 laramie                1
 rdx sh-awd advance pkg      1
 excursion 2005              1
 Name: count, Length: 3467, dtype: int64,
 '',
 np.int64(0))

# Подзадача 5
Обработайте пропуски в статусе автомобиля.

In [426]:
df['title_status'].value_counts(dropna=False)

title_status
clean         9568
rebuilt        171
NaN            166
salvage         92
lien            35
missing         16
parts only       2
Name: count, dtype: int64

In [427]:
# Информация слишком важна, чтобы обобщать её до самого частовстречаемого. Такие строки придётся удалить
df.drop(df[df["title_status"].isna()].index, inplace=True)

In [428]:
df['title_status'].value_counts(dropna=False)

title_status
clean         9568
rebuilt        171
salvage         92
lien            35
missing         16
parts only       2
Name: count, dtype: int64

# Подзадача 6
Преобразуйте типы данных в годе выпуска автомобиля.

In [429]:
df.year = df.year.astype('uint16') # Год > 0
df['year'].dtype

dtype('uint16')

# Подзадача 7
Преобразуйте типы данных в категориальные переменные.

Задание непонятно.

In [430]:
df.dtypes

id                  int64
url                object
region             object
region_url         object
price               int64
year               uint16
manufacturer       object
model              object
condition          object
cylinders          object
fuel               object
odometer          float64
title_status       object
transmission       object
VIN                object
drive              object
size               object
type               object
paint_color        object
image_url          object
description        object
county            float64
state              object
lat               float64
long              float64
posting_date       object
price_category     object
dtype: object

# Подзадача 8
Определите выбросы в годе выпуска.

In [431]:
def calc_bounds(column: pd.Series):
    q25 = column.quantile(0.25)
    # q50 = column.quantile(0.5)
    q75 = column.quantile(0.75)

    iqr = q75 - q25

    lower_bound = q25 - 1.5 * iqr
    upper_bound = q75 + 1.5 * iqr

    return lower_bound, upper_bound

In [432]:
l_bound, u_bound = calc_bounds(df.year)
l_bound, u_bound

(np.float64(1994.5), np.float64(2030.5))

In [433]:
df.year.describe()  # Выбросы "снизу"

count    9884.000000
mean     2010.847835
std        12.479667
min      1236.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

In [434]:
is_outlier = (df.year < l_bound) | (df.year > u_bound)
is_outlier.sum()

np.int64(396)

In [435]:
is_outlier.sum() / df.shape[0]

np.float64(0.040064751112909754)

In [436]:
df[is_outlier].head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,price_category
13,7317089086,https://seattle.craigslist.org/see/ctd/d/portl...,seattle-tacoma,https://seattle.craigslist.org,14995,1994,ford,e-series van universal by glaval designer luxu...,NaN,8 cylinders,...,van,blue,https://images.craigslist.org/00r0r_13JUlXZOMl...,"Priced to Sell: $14,9951994 Ford E-Series Van ...",NaN,wa,45.391373,-122.613533,2021-05-04T20:22:11-0700,medium
21,7312327909,https://madison.craigslist.org/cto/d/madison-1...,madison,https://madison.craigslist.org,89995,1970,NaN,oldsmobile 442,excellent,8 cylinders,...,convertible,white,https://images.craigslist.org/00S0S_agk7Nol4CO...,1970 Oldsmobile 442 Convertible 442 Indy Pace ...,NaN,wi,43.098400,-89.273400,2021-04-25T10:10:43-0500,high
57,7314413105,https://inlandempire.craigslist.org/ctd/d/cost...,inland empire,https://inlandempire.craigslist.org,69888,1948,ford,coe,excellent,8 cylinders,...,NaN,red,https://images.craigslist.org/00M0M_8jgBCZZuG6...,Awesome Resto-Mod COE Ford Car Hauler. Equippe...,NaN,ca,33.680100,-117.908500,2021-04-29T10:49:29-0700,high
66,7310077530,https://hudsonvalley.craigslist.org/cto/d/bloo...,hudson valley,https://hudsonvalley.craigslist.org,5500,1990,NaN,Diahatsu,good,3 cylinders,...,NaN,NaN,https://images.craigslist.org/00T0T_a4VRbx40ea...,1991 Daihatsu hijet 5 speed extended cab....im...,NaN,ny,41.564400,-74.430400,2021-04-20T18:30:18-0400,low
106,7314527175,https://rapidcity.craigslist.org/ctd/d/sherman...,rapid city / west SD,https://rapidcity.craigslist.org,43500,1968,chevrolet,camaro,NaN,NaN,...,NaN,NaN,https://images.craigslist.org/00h0h_2N66LMJBAI...,1968 Chevrolet Camaro Convertible. VIN:124678N...,NaN,sd,33.637200,-96.618400,2021-04-29T15:11:01-0600,high

In [437]:
df.loc[is_outlier, 'year'] = np.ceil(l_bound).astype('uint16')

In [438]:
df.year.describe()

count    9884.000000
mean     2011.721773
std         6.437229
min      1995.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

In [439]:
df.to_csv('vehicles_clean.csv')

# Подзадача 9

In [440]:
df_out = pd.read_csv('vehicles_clean.csv', 
    dtype={
        'year': 'uint16'
    }, 
    na_values=['NaN'])

In [441]:
df_out

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,price_category
0,0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,good,...,pickup,silver,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,NaN,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high
1,1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,NaN,...,SUV,black,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,NaN,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium
2,2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,good,...,sedan,NaN,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,NaN,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high
3,3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,NaN,...,wagon,white,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,NaN,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium
4,4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021,nissan,altima,new,...,NaN,NaN,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,NaN,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9879,10045,7304876387,https://chautauqua.craigslist.org/ctd/d/falcon...,chautauqua,https://chautauqua.craigslist.org,4495,2002,toyota,rav4,good,...,SUV,white,https://images.craigslist.org/00n0n_aaEBqmzz5Z...,Transmission:Automatic Exterior Color:WHITE In...,NaN,ny,42.123900,-79.189500,2021-04-10T16:33:57-0400,low
9880,10046,7316152972,https://binghamton.craigslist.org/ctd/d/roches...,binghamton,https://binghamton.craigslist.org,14495,2008,jeep,wrangler,good,...,SUV,grey,https://images.craigslist.org/00000_9ZNVdXaiei...,2008 Jeep Wrangler X Offered by: R&L Auto -- ...,NaN,ny,43.216990,-77.755610,2021-05-03T09:36:30-0400,medium
9881,10047,7310993818,https://salem.craigslist.org/ctd/d/salem-2011-...,salem,https://salem.craigslist.org,8995,2011,audi,a3 2.0t premium plus pzev,NaN,...,wagon,black,https://images.craigslist.org/00X0X_k5JiZDDyqM...,2011 Audi A3 2.0T Premium Plus PZEV Wagon2011 ...,NaN,or,44.925908,-122.982753,2021-04-22T12:14:01-0700,low
9882,10048,7306637427,https://madison.craigslist.org/ctd/d/madison-2...,madison,https://madison.craigslist.org,31900,2015,porsche,cayenne,good,...,wagon,brown,https://images.craigslist.org/00O0O_gBihGEQxYT...,"2015 Porsche Cayenne AWD 4dr S E-Hybrid - $31,...",NaN,wi,43.029559,-89.397796,2021-04-14T09:14:42-0500,high
9883,10049,7311960763,https://norfolk.craigslist.org/ctd/d/chesapeak...,norfolk / hampton roads,https://norfolk.craigslist.org,31990,2017,ram,1500 crew cab big horn,good,...,pickup,white,https://images.craigslist.org/00c0c_4rTlvLXy36...,Carvana is the safer way to buy a car During t...,NaN,va,36.670000,-76.300000,2021-04-24T13:50:49-0400,high

In [442]:
df_out.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9884 entries, 0 to 9883
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      9884 non-null   int64
 1   id              9884 non-null   int64
 2   url             9884 non-null   object
 3   region          9884 non-null   object
 4   region_url      9884 non-null   object
 5   price           9884 non-null   int64
 6   year            9884 non-null   uint16
 7   manufacturer    9511 non-null   object
 8   model           9884 non-null   object
 9   condition       6162 non-null   object
 10  cylinders       5823 non-null   object
 11  fuel            9884 non-null   object
 12  odometer        9848 non-null   float64
 13  title_status    9884 non-null   object
 14  transmission    9847 non-null   object
 15  VIN             5927 non-null   object
 16  drive           6951 non-null   object
 17  size            2818 non-null   object
 18  type            7700 non-null   object
 19  paint_color     7055 non-null   object
 20  image_url       9884 non-null   object
 21  description     9884 non-null   object
 22  county          0 non-null      float64
 23  state           9884 non-null   object
 24  lat             9787 non-null   float64
 25  long            9787 non-null   float64
 26  posting_date    9884 non-null   object
 27  price_category  9884 non-null   object
dtypes: float64(4), int64(3), object(20), uint16(1)
memory usage: 2.1+ MB